<img src="~/images/engrenagem.png" alt="Area de administração" width="100px"/>
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área de admin</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volte a Home Page</a>
</div>